In [18]:
amigos = input("Escriba el nombre de tres amigos separados por espacios")
print(amigos)

Santiago Antonio Roberto

In [19]:
lista_amigos = amigos.split()
print(lista_amigos)

['Santiago', 'Antonio', 'Roberto']

In [20]:
lista_alturas = input("Escriba la altura de sus tres amigos respectivamente").split()
print(lista_alturas)

['1.95', '1.65', '1.80']

In [21]:
lista_alturas = [float(i) for i in lista_alturas]

In [22]:
lista_alturas

[1.95, 1.65, 1.8]

In [23]:
lista_amigos.sort(reverse=True)
lista_amigos

['Santiago', 'Roberto', 'Antonio']

In [25]:
lista_alturas.sort(reverse=True)
lista_alturas

[1.95, 1.8, 1.65]

In [26]:
max(lista_alturas)

1.95

In [27]:
min(lista_alturas)

1.65

In [5]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]
print(lista1, lista2)

[44, 55, 67, 44, 98, 29] [34, 56, 56, 78, 67, 56]

In [6]:
lista_lista = [lista1, lista2]
print(lista_lista)

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [8]:
lista_numeros = lista1 + lista2
lista_numeros

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [9]:
lista_lista.count(67)

0

In [10]:
lista_numeros.count(67)

2

Salen números diferentes porque lista_lista es la unión de dos listas y no lee lo que hay dentro de ellas. Pero lista_numeros ha quedado almacenada como una única lista.

In [13]:
lista_numeros.reverse()
print(lista_numeros)

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]