Import random and create "lista"

In [1]:
import random
lista = random.sample(range(1,100), 10)

In [2]:
# Which is the lenght of the list?
len(lista)

10

In [3]:
print(lista)

[38, 25, 78, 69, 5, 20, 53, 41, 36, 17]

In [4]:
# Obtain the 3rd position number
lista[2]

78

In [5]:
# Extract the 3rd position number using the negative indexes
lista[-8]

78

In [35]:
# Ask the user for a number of the list that we have created
numero = int(input("Elige un nÃºmero de la lista"))
print(numero)

53

In [17]:
# In which position is this number?
print(lista)

[38, 25, 78, 69, 5, 20, 53, 41, 36, 17]

In [36]:
print(lista.index(numero))

6

In [19]:
lista[2:5]

[78, 69, 5]

In [20]:
lista[-5:-1]

[20, 53, 41, 36]

In [21]:
lista[1::2]

[25, 69, 20, 41, 17]

In [22]:
lista[::2]

[38, 78, 5, 53, 36]

In [23]:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucia"]
notas = [9, 8.5, 9.8, 8.9, 9.2]

In [24]:
notas_lupe = notas[nombres.index("Lupe")]
notas_lupe

9.8

In [25]:
notas_max = nombres[notas.index(max(notas))]
notas_max

'Lupe'

In [26]:
notas_min = nombres[notas.index(min(notas))]
notas_min

'Lorena'

In [29]:
print(min(notas)>5)

True

In [30]:
notas_nuevo_orden = sorted(notas, reverse=True)
notas_nuevo_orden

[9.8, 9.2, 9, 8.9, 8.5]

In [31]:
notas.sort(reverse=True)
notas

[9.8, 9.2, 9, 8.9, 8.5]

In [32]:
nombres.sort(reverse=True)
nombres

['Lupe', 'Lucia', 'Loreto', 'Lorena', 'Laura']

In [33]:
del notas

In [37]:
notas

NameError: name 'notas' is not defined

In [11]:
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [12]:
print(lunes)

[34, 56, 82]

In [13]:
lunes.append(martes)
lunes.append(miercoles)
lunes

[34, 56, 82, [99, 64, 24], [12, 59, 71]]

In [14]:
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [15]:
semana = lunes + martes + miercoles
semana

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [16]:
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [17]:
lunes.insert(0, 100)
lunes

[100, 34, 56, 82]

In [18]:
martes.insert(2, 100)
martes

[99, 64, 100, 24]

In [24]:
miercoles = [12, 59, 71]
miercoles

[12, 59, 71]

In [25]:
miercoles.append(100)
miercoles

[12, 59, 71, 100]